.goal-management {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Title */
.form-title {
  text-align: center; /* Centered titles */
  margin-bottom: 20px; /* Space below titles */
  font-size: 24px; /* Title font size */
 
}

.goal-form-m {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-row-m {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group-m {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group-m label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-feild-Man, .goal-form-m select {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.input-feild-Man:focus, .goal-form-m select:focus {
  border-color: #007bff;
  outline: none;
}

.button-group-m {
  text-align: center;
}

.goal-submit-btn-m {
  background: #D5661A;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px; /* Set a fixed width for the button */
  margin: 10px auto; /* Center the button horizontally */
  display: block; /* Make the button a block element to center */
  text-align: center; /* Center the text inside the button */
  transition: background-color 0.3s; /* Smooth transition for background color */
}



/* Error Message */
.error-message {
  color: #d9534f;
  font-size: 13px;
  margin-top: 5px;
}

/* Table Section */
.goals-table-section-m {
  margin-top: 30px;
}

.goals-table-section-m .form-title {
  margin-bottom: 20px;
  text-align: center;
}

.goals-table-m {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.goals-table-m th, .goals-table-m td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.goals-table-m th {
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
}

.goals-table-m tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Action Buttons */
.actions-cell-m {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-btn-m, .delete-btn-m {
  padding: 8px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-btn-m {
  background-color: #28a745;
}

.edit-btn-m:hover {
  background-color: #218838;
}

.delete-btn-m {
  background-color: #dc3545;
}

.delete-btn-m:hover {
  background-color: #c82333;
}