.form-section {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-card {
  margin-top: 15px;
}

h4 {
  font-size: 1.5rem; 
  font-weight: bold; 
  text-align: center; 
  color: #D5661A;
  margin: 20px 0; 
  letter-spacing: 1px; 
  margin-top: 0;
  margin-bottom: 10px;
}
/* Form styling */
.goal-form-M {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-group-M-inline {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group-M {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group-M label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group-M select,
.form-group-M input,
.form-group-M textarea {
  
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.form-group-M select,
.form-group-M input {
  height: 40px;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Button Styles */
.training-submit-btn-M {
  background: #D5661A;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px; /* Set a fixed width for the button */
  margin: 10px auto; /* Center the button horizontally */
  display: block; /* Make the button a block element to center */
  text-align: center; /* Center the text inside the button */
  transition: background-color 0.3s; /* Smooth transition for background color */ 

}


/* Table Styles */
.assigned-programs-table-M {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.assigned-programs-table-M th,
.assigned-programs-table-M td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
  border-bottom: 1px solid #ddd;
 
}

.assigned-programs-table-M th {
  background-color: #D25E12;
  font-weight: bold;
  color: white;
}



.assigned-programs-table-M td {
  vertical-align: top;
}

/* Action Button Styles */
.action-buttons-M {
 
  gap: 10px;
}

.edit-button-M,
.delete-button-M {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  transition: color 0.3s;
}
/* Pagination container */
.pagination-controls-M {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/* Pagination buttons */
.pagination-button-M {
  background-color: #D25E12;
  color:  white;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Active page button */


/* Previous and Next button */
.previous-next-button {
  font-weight: bold;
  background-color: #e70f2b;
  color: white;
  
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

#search-section-M {
  margin: 20px 0;
 
  justify-content: left;
  
}

.search-input-M {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .form-group-M-inline {
      flex-direction: column; /* Stack fields on smaller screens */
  }

  .form-group-M {
      margin-right: 0;
      margin-bottom: 15px;
  }

  .tranining-button-container-M {
      justify-content: center; /* Center button on smaller screens */
  }
}
